<script biruni>
  page.require('webdatarocks');
  page.ctrl(function (scope, $location, fi, model,t) {
    let d = {},
    q = {};

    d.action =/.+\+((?:add)|(?:edit)|(?:open))/.exec($location.url())[1];
    let frame = document.querySelector('.report_frame');
    let data={}, for_web_data_rocks={};
    d.begin_date=moment().startOf('month').format("DD.MM.YYYY");
    d.end_date=moment().format("DD.MM.YYYY");

    //////////////////////////////////////////  WEBDATAROCKS
    let pivot = new WebDataRocks({
      "container":"#hdr_report",
      "beforetoolbarcreated": customizeToolbar,
      "width":"100%",
      "height":700,
      "toolbar":true,
      "report": null
    });

    function customizeToolbar(toolbar) {
      var tabs = toolbar.getTabs();
      toolbar.getTabs = function() {
        delete tabs[0];
        delete tabs[1];
        delete tabs[2];
        if (d.action != 'open') {
          delete tabs[3];
        } else {
          delete tabs[3].menu[1];
          delete tabs[3].menu[3];
          tabs[3].menu[2].handler = exportDataHandler;
        }
        return tabs;
      }
      var exportDataHandler = function() {
        exportData(d.report_name);
      }
    }

    let empty_report = { "dataSource": { "dataSourceType":"json","data":"" } };

    function setReport(report, data) {
      report.dataSource.data = data;
      pivot.setReport(report);
      pivot.refresh();
    }

    function getReport() {
      let report = pivot.getReport({
        withGlobals: true,
        withDefaults: true
      });
      report.dataSource.data = null;
      return report;
    }

    function exportData(filename) {
      pivot.exportTo('excel', {
        filename: (filename + '_' + moment().format("DD.MM.YYYY_HH-mm-ss"))
      });
    }
    //////////////////////////////////////////  WEBDATAROCKS


    //-------------------------------------------------------Filtering Survey Quizs by survey_id for report---------------------------------------------------------------
    function filterQuizAnswers(dt) {
      let temp={},filtered=[];
      _.each(dt.survey_ids,function(id) {
          temp={};
          _.each(dt.quiz_header.filter(qz=>qz.survey_id==id),function(quiz) {
              let qa_answer=dt.quiz_answers.filter(qa => (qa.quiz_id==quiz.quiz_id && qa.survey_id==id) )[0]
              if(qa_answer!=null)
                temp[quiz.quiz_name]=qa_answer.answer;
          });
          filtered.push(temp);
      });
      return filtered;
    }

    //---------------------------------------------------------Making Sample data for EDIT and ADD pages-----------------------------------------------
  	function filterSampleSurveyData(dt) {
  		let sample_data=[],index=0;
      let grouped=dt.distinct_quizs;
      grouped=grouped.map(gq=>{gq.index=0; return gq;});
      let length=Math.max(..._.pluck(grouped,'count'));
  		for (let j = 0; j<length; j++) {
        let temp={};
  			for (let i = 0; i<grouped.length; i++) {
  				let g=grouped[i];
  				index=dt.quiz_options.indexOf(dt.quiz_options.filter(qo=>qo.quiz_id==g.quiz_id)[g.index]);

          if(g.index==g.count) {
            g.index=0;
          }
          else {
            g.index++;
          }
          let key=dt.quiz_header[i].quiz_name;
          temp[key]=dt.quiz_options[index].option_name;
  		  }
        sample_data.push(temp);
  	  }
      let temp={};
      for(let i=0; i<grouped.length; i++) {
        temp[dt.quiz_header.filter(q=>q.quiz_id==grouped[i].quiz_id)[0].quiz_name]=q.tEmpty;
      }
      sample_data.push(temp);
      return sample_data;
    }

    //---------------------------------------------------------Making Sample params for EDIT and ADD page reports-----------------------------------------------
    function makeSampleSurveyData() {
      let template_setting;
      if(d.action == 'add') {
        template_setting= empty_report;
      }
      else if (d.action == 'edit') {
        template_setting=JSON.parse(model.template_setting);
      }

      page.post(':sample_report_data').then(function(result) {
        for_web_data_rocks=filterSampleSurveyData(result);
        setReport(template_setting, for_web_data_rocks);
        d.quiz_header=result.quiz_header;
      } , page.alert);
    }

    //---------------------------------------------------------Making Report-----------------------------------------------
    function run(rt, form) {
      $('.report_frame').height(document.body.offsetHeight - 200);
      if (page.valid(scope.form)) {
        let stats=[d.st_draft, d.st_new, d.st_processing, d.st_completed];
        stats=stats.filter(s=>(s));
        let params={};
        if(d.filials != undefined)
          params.filial_ids = _.pluck(d.filials,'filial_id');
        params.statuses = stats;
        params.begin_date = d.begin_date;
        params.end_date = d.end_date;
        params.report_template_id=d.report_template_id;
        if(fi.isFilial) {
          params.filial_ids=[model.filial_id];
        }
        page.post(':run',params).
          then(function(result) {
            for_web_data_rocks=filterQuizAnswers(result);
            setReport(JSON.parse(model.template_setting), for_web_data_rocks);
          },page.alert);
          setFormMode(false);
      }
    }

    function filterTemplateQuizSetting(slice) {
      let filtered=[];
      _.each(slice,function(cl){
         _.each(cl,function(elem) {
            let quiz=d.quiz_header.filter(qh=>qh.quiz_name==elem.uniqueName)[0];
            if(quiz != null)
              filtered.push(quiz.quiz_id);
         });
      });
      return filtered
    }

    //---------------------------------------------------------Saving Report-----------------------------------------------
    function saveReport() {
      if (page.valid(scope.form)) {
        let params={},
          template_setting=getReport();
        params.report_name=d.report_name;
        params.description=d.description;
        params.state=d.report_state;
        params.template_setting=JSON.stringify(template_setting);
        params.quiz_setting=JSON.stringify(filterTemplateQuizSetting(template_setting.slice));
        if(d.action == 'edit') {
          params.report_template_id=d.report_template_id;
        }
        page.post(':save_report_template',params).then(page.close,page.alert);
      }
    }

    function setFormMode(mode) {
      q.formMode = mode;
      q.classForm = mode ? 'btn-primary' : 'btn-default';
      q.classRoute = !mode ? 'btn-primary' : 'btn-default';
    }

    function onFilialChange(query,value) {
      d.survey_number=null;
      d.survey_id=null;
      let selected=_.pluck(d.filials,'filial_id');
      page.query('table_filials').where(_.isEmpty(selected) ? null : ['filial_id','<>',selected]);
      query.searchValue(value);
    }

    function clear(key) {
    	if(d[key]!=null)
      	d[key].splice(0,d[key].length);
    }

    //----------------------------------------------------------Structuring page layout----------------------------------------------------------------------
    q.tAllFilials=t('All Filials');
    q.tEmpty=t('empty')();
    q.tReportName=t('report name')();
    q.tReportDescription=t('description')();
    setFormMode(false);

    if(d.action != 'add')
      page.title(model.name);

    if(d.action == 'add') {
      d.report_state = 'A';
      makeSampleSurveyData();
    }
    else if (d.action == 'edit') {
      d.report_template_id=model.report_template_id;
      d.report_name=model.name;
      d.report_state=model.state;
      d.description=model.description;
      if(model.quiz_setting != null && model.quiz_setting != '') {
        d.quizs=JSON.parse(model.quiz_setting);
      }
      makeSampleSurveyData();
    }
    else if(d.action == 'open') {
      d.st_draft='D';
      d.st_new='N';
      d.st_processing='P';
      d.st_completed='C';
      d.report_template_id=model.report_template_id;
      d.report_name=model.name;
      d.state=model.state;
      q.isAllFilials='Y';

      if(model.quiz_setting != null && model.quiz_setting != '') {
        d.quizs=JSON.parse(model.quiz_setting);
      }
      setFormMode(true);
    }

    scope.q = q;
    scope.d = d;
  });
</script>
<div class="b-toolbar row">
  <div ng-class="{ 'col-sm-24' : d.action == 'open' , 'col-sm-3' : d.action != 'open' }">
    <div class="btn-group" ng-show="d.action == 'open'">
      <button type="button" class="btn btn" ng-class="q.classForm" ng-click="setFormMode(true)"><t>parametrs</t></button>
      <button type="button" class="btn" ng-class="q.classRoute" ng-click="setFormMode(false)"><t>view</t></button>
    </div>
    <button  type="button" ng-show="!q.formMode && d.action != 'open' " class="btn btn-success " ng-click="saveReport()"><t>save</t></button>
    <button  type="button" class="btn btn-default " ng-click="page.close()">{{ page.close.title }}</button>
  </div>
  <form name="form" class="form-group row col-sm-18" ng-hide="d.action=='open'">
    <div class="col-10">
        <input type="text" class="form-control" ng-model="d.report_name" placeholder="{{q.tReportName}}" required />
    </div>
    <div class="col-10">
      <input  type="text" class="form-control" ng-model="d.description" placeholder="{{q.tReportDescription}}" />
    </div>
     <div class="col-4">
      <label class="switch">
        <input type="checkbox" ng-true-value="'A'" ng-false-value="'P'" ng-model="d.report_state"/>
        <span>
          <t ng-if="d.report_state == 'A'">Active</t>
          <t ng-if="d.report_state == 'P'">Passive</t>
        </span>
      </label>
    </div>
  </form>
</div>
<div class="b-content">
  <div ng-show="d.action == 'open' && q.formMode">
    <form name="form">
      <div ng-show="d.action ==  'open' " class="form-group row">
        <div class="col-sm-6">
          <label><t>begin date</t><r/></label>
          <input type="text"  class="form-control" b-date-picker ng-model="d.begin_date" required/>
        </div>
        <div class="col-sm-6">
          <label><t>end date</t><r/></label>
          <input class="form-control" b-date-picker ng-model="d.end_date" required=""/>
        </div>
      </div>
      <div ng-show="q.formMode" class="form-group row">
        <div class="col-sm-12">
          <label><t>survey status</t><r/></label><br>
          <label class="checkbox">
            <input type="checkbox" ng-true-value="'D'" ng-model="d.st_draft" /><span><t>draft</t></span>
          </label>
          <label class="checkbox">
            <input type="checkbox" ng-true-value="'N'" ng-model="d.st_new" /><span><t>new</t></span>
          </label>
          <label class="checkbox">
            <input type="checkbox" ng-true-value="'P'" ng-model="d.st_processing" /><span><t>processing</t></span>
          </label>
          <label class="checkbox">
            <input type="checkbox" ng-true-value="'C'" ng-model="d.st_completed" /><span><t>completed</t></span>
          </label>
        </div>
      </div>
      <div class="col-sm-12" ng-show="q.formMode && fi.isHead">
          <div class="form-group row">
            <label><t>filials</t></label>
            <div class="input-group m-input-group">
              <div class="input-group-prepend">
                <span class="btn btn-default" >
                   <label class="checkbox pl-0 pb-2 pr-1">
                        <input  type="checkbox" ng-model="q.isAllFilials"  ng-change="clear('filials')" ng-true-value="'Y'" ng-false-value="'N'"/><span>
                   </label>
                </span>
              </div>
              <span style="flex:auto"  ng-hide="q.isAllFilials == 'Y'">
                <b-input name="table_filials"
                  search="name"
                  model="d.filials"
                  model-key="filial_id"
                  label="name"
                  multiple
                  on-change="onFilialChange(query,value)"
                  required>
                  <div class="col-sm-24">{{ row.name }}</div>
                </b-input>
              </span>
              <input class="form-control" type="text" ng-value="q.tAllFilials" ng-show="q.isAllFilials == 'Y'" readonly>
            </div>
          </div>
      </div>
      <div ng-show="q.formMode " class="form-group row">
        <div class="col-sm-12">
          <button type="button" class="btn btn-primary" ng-click="run('html', true)"><t>generate</t></button>
        </div>
      </div>
    </form>
  </div>
  <div>
      <div ng-show="!q.formMode" id="hdr_report"></div>
  </div>
</div>