<script type="biruni">
page.init(function() {
  page.isInit() && page.query('table').filter('state', '=', 'A');
  var stateClass = { A: 'success', P: 'danger' };
  page.grid('table').asHtml('state_label', 'state', row => {
    return `<div class="alert alert-custom alert-light-${stateClass[row.state]} text-center py-1 px-3 m-0"><div class="alert-text">${ row.state_name }</div></div>`;
  });
});
page.ctrl(function(scope, param, fi, t) {
  var q = {};

  q.attachMode = true;
  setAttchBtnClass();
  fetchData();

  function setAttchBtnClass() {
    q.classAttach = q.attachMode ? 'btn-success' : 'btn-default';
    q.classDetach = !q.attachMode ? 'btn-success' : 'btn-default';
  }

  function fetchData() {
    page.query('table').param ({
    quiz_set_group_id: param.quiz_set_group_id,
        attached: (q.attachMode ? 'Y' : 'N') })
    .fetch();

    q.checked = {};
  }

  function setMode(mode) {
      q.attachMode = (mode === 'attached');
      setAttchBtnClass();
      fetchData();
  }

  function makeAction(action, message, quiz_set_ids) {
    page.confirm(message, function() {
      action({ quiz_set_group_id: param.quiz_set_group_id,
               quiz_set_ids: quiz_set_ids }).then(fetchData, page.alert);
    });
  }

  function attachOne(row) {
    makeAction(fi.attach, t('do you want to attach $1 quiz_set?')(row.name), row.quiz_set_id);
  }

  function attachMany() {
    makeAction(fi.attach, t('attach $1 quiz_set(s)?')(q.checked.size), _.pluck(q.checked.rows(), 'quiz_set_id'));
  }

  function detachOne(row) {
    makeAction(fi.detach, t('do you want to detach $1 quiz_set?')(row.name), row.quiz_set_id);
  }

  function detachMany() {
    makeAction(fi.detach, t('detach $1 quiz_set(s)?')(q.checked.size), _.pluck(q.checked.rows(), 'quiz_set_id'));
  }

  function onCheck(checked) {
    q.checked = checked;
  }

  function onDblClick(row) {
    q.attachMode ? detachOne(row) : attachOne(row);
  }

  scope.q = q;
});
</script>
<div class="b-toolbar row">
  <div class="col-sm-14">
    <div class="btn-group">
      <button type="button" class="btn" ng-class="q.classAttach" ng-click="setMode('attached')"><t>attached</t></button>
      <button type="button" class="btn" ng-class="q.classDetach" ng-click="setMode('detached')"><t>detached</t></button>
    </div>
    <button type="button" class="btn btn-primary" ng-click="attachMany()" ng-show="!q.attachMode && q.checked.has" ng-if="fi.attach">
      <t p1="q.checked.size">attach $1 quiz_set(s)</t>
    </button>
    <button type="button" class="btn btn-danger" ng-click="detachMany()" ng-show="q.attachMode && q.checked.has" ng-if="fi.detach">
      <t p1="q.checked.size">detach $1 quiz_set(s)</t>
    </button>
    <button type="button" class="btn btn-success" ng-click="fi.add_quiz_set() "ng-show="fi.add_quiz_set && !q.attachMode">{{ fi.add_quiz_set.title }}</button>
    <button type="button" class="btn btn-default" ng-click="page.close()" ng-hide="page.isFirst()">{{ page.close.title }}</button>
  </div>
  <div class="col-sm-10 pl-0 b-right">
    <b-grid-controller name="table"/>
  </div>
</div>
<div class="b-content">
  <form name="form">
    <b-grid name="table" required="quiz_set_id, name" on-check="onCheck(checked)" search="name" sort="order_no, name" on-dblclick="onDblClick(row)"  on-check="on-check(checked)" extra-columns="quiz_set_group_id">
    <b-row>
      <b-col name="name" size=5/>
      <b-col name="description" size=15/>
      <b-col name="state_name" as-html="state_label" size=3/>
    </b-row>
      <b-action>
        <button type="button" class="btn btn-default" ng-click="attachOne(row)" ng-if="!q.attachMode && fi.attach">{{ fi.attach.title }}</button>
        <button type="button" class="btn btn-default" ng-click="detachOne(row)" ng-if="q.attachMode && fi.detach">{{ fi.detach.title }}</button>
      </b-action>
      <b-filter name="quiz_set_id" directive="equal" extra/>
      <b-filter name="name"/>
      <b-filter name="state" decorate-with="state_name"/>
    </b-grid>
  </form>
</div>