<script biruni>
page.ctrl(function (scope, fi, model, param, t) {
  var d = model;

  d.is_add = _.isEmpty(param.survey_id);
  d.statuses = _.mapRows(d.statuses, ['code', 'name']);

  if(!_.isUndefined(d.quiz_set_group_id) && !param.survey_id) {
     page.post(':load_quiz_sets', { quiz_set_group_id: d.quiz_set_group_id }).then(function(result) {
        d.quiz_sets = result.quiz_sets;
      }, page.alert);
  }

  function getQuizSets() {
    let quiz_sets = [];
      _.each(d.quiz_sets, function(qs) {
        let quiz_set = _.pick(qs, 'sv_quiz_set_id', 'quiz_set_id', 'name', 'parent_option_id');
        quiz_set.quizs = [];

        _.each(qs.quizs, function(qq) {
          let quiz = _.pick(qq, 'sv_quiz_id', 'quiz_id', 'name', 'is_required', 'parent_option_id');
          quiz.quiz_answers = [];

          if (qq.quiz_kind == 'M') {
            quiz.quiz_answers.push(_.pick(qq, 'sv_quiz_unit_id', 'answer'));
          } else {
            if (qq.select_multiple == 'N') {
              quiz.quiz_answers.push({
                sv_quiz_unit_id: qq.sv_quiz_unit_id,
                option_id: qq.answer_option_id,
                answer: qq.answer_option_name
              });
            } else {
              if (qq.select_form == 'D') {
                _.each(qq.answer_options, function(item) {
                  quiz.quiz_answers.push({
                    sv_quiz_unit_id: item.sv_quiz_unit_id,
                    option_id: item.option_id,
                    answer: item.name
                  });
                });
              } else if (qq.select_form == 'C') {
                _.each(_.filter(qq.options, x => x.check_box_answer == 'Y'), function(item) {
                  quiz.quiz_answers.push({
                    sv_quiz_unit_id: item.sv_quiz_unit_id,
                    option_id: item.option_id,
                    answer: item.name
                  });
                });
              }
            }
          }

          quiz_set.quizs.push(quiz);
        });
        quiz_sets.push(quiz_set);
      });
    return quiz_sets;
  }

  function save() {
    if (page.valid(scope.form)) {
      let data = _.pick(d, 'survey_id', 'quiz_set_group_id', 'survey_number', 'survey_date', 'status', 'note');

      if (!d.quiz_set_group_id) {
        data.quiz_set_group_id = param.quiz_set_group_id;
      }

      data.quiz_sets = getQuizSets();
      if (d.status == 'C' && checkForRequiredQuizs(data.quiz_sets)) return;
      fi.save(data).then(page.close, page.alert);
    }
    else {
      checkForRequiredQuizs(getQuizSets());
    }
  }

  function loadChildren(quiz_set, option_id, start_index) {
    page.post(':get_children', {
      option_id: option_id
    }).then(function(result) {
      if (result.quizs.length) {
        _.each(result.quizs, function(q, i) {
          quiz_set.quizs.splice(start_index + i + 1, 0, q);
        });
      }

      if (result.quiz_sets.length) {
        _.each(result.quiz_sets, function(q) {
          d.quiz_sets.push(q);
        });
      }
    }, page.alert);
  }

  // rekursiv child larni o'chirish
  function deleteChildren(set, option_id, start_index, is_check) {
    if (is_check) {
      _.each(set.quizs, function(item) {
        if (item && item.parent_option_id && option_id == item.parent_option_id) {
          set.quizs = _.without(set.quizs, item);
        }
      });
    }

    _.each(d.quiz_sets, function(quiz_set, i) {
      if (i >= start_index) {
        if (quiz_set && quiz_set.parent_option_id && quiz_set.parent_option_id == option_id) {
          _.each(quiz_set.quizs, function(quiz) {
            if (quiz.quiz_kind != 'M') {
              _.each(quiz.options, function (option) {
                deleteChildren(quiz_set, option.option_id, i + 1 , false);
              });
            }
          });
          d.quiz_sets = _.without(d.quiz_sets, quiz_set);
        }
      }
    });
  }

  function onSingleDropDownSelect(quiz_set, quiz, option, quiz_index) {
    quiz.answer_option_name = option.name;
    quiz.answer_option_id = option.option_id;

    loadChildren(quiz_set, option.option_id, quiz_index);
  }

  function onSingleDropDownDelete(quiz_set, quiz) {
    deleteChildren(quiz_set, quiz.answer_option_id, 0, true);

    quiz.answer_option_name = '';
    quiz.answer_option_id = '';
  }

  function onRadioSelect(quiz_set, quiz, option, quiz_index) {
    _.each(quiz_set.quizs, function(item) {
      if (item && item.parent_option_id && _.any(quiz.options, o => o.option_id == item.parent_option_id)) {
        quiz_set.quizs = _.without(quiz_set.quizs, item);
      }
    });

    _.each(d.quiz_sets, function(item) {
      if (item && item.parent_option_id && _.any(quiz.options, o => o.option_id == item.parent_option_id)) {
        d.quiz_sets = _.without(d.quiz_sets, item);
      }
    });

    loadChildren(quiz_set, option.option_id, quiz_index);
  }

  function onMultipleDropdownSelect(quiz_set, quiz, option, quiz_index) {
    if (!quiz.answer_options) {
      quiz.answer_options = [];
    }
    quiz.answer_options.push(option);

    loadChildren(quiz_set, option.option_id, quiz_index);
  }

  function onMultipleDropdownDelete(quiz_set, quiz, option) {
    deleteChildren(quiz_set, option.option_id, 0, true);
    quiz.answer_options = _.without(quiz.answer_options, option);
  }

  function onCheckBoxChange(quiz_set, quiz, option, quiz_index) {
    if (option.check_box_answer == 'Y') {
      loadChildren(quiz_set, option.option_id, quiz_index);
    } else {
      deleteChildren(quiz_set, option.option_id, 0, true);
    }
  }

  function setQuizSetGroup(row) {
    if (row) {
      page.post(':load_quiz_sets', { quiz_set_group_id: row.quiz_set_group_id }).then(function(result) {
        d.name = row.name;
        d.quiz_set_group_id = row.quiz_set_group_id;
        d.quiz_sets = result.quiz_sets;
      }, page.alert);
    }
  }

  function checkForRequiredQuizs(quiz_sets) {
    for (set of quiz_sets) {
      for (quiz of set.quizs) {
        if (quiz.is_required == 'N') continue;
        answers = _.filter(quiz.quiz_answers, qa => (!_.isUndefined(qa.answer) && !_.isEmpty(qa.answer)) || (!_.isUndefined(qa.option_id) && !_.isEmpty(qa.option_id)));
        if (!_.isEmpty(answers)) continue;
        page.alert(t('$1 at $2 required question! Must be answerered!')('<span class="text-dark">' + quiz.name + '</span>','<span class="text-dark">' + set.name + '</span>') ,t('required question')());
        return true;
      }
    }
  }

  scope.d = d;
});
</script>
<div class="b-toolbar row">
  <div class="col-24">
    <button type="button" class="btn btn-primary" ng-click="save()" ng-if="fi.save" b-hotkey="save">{{ fi.save.title }}</button>
    <button type="button" class="btn btn-default" ng-click="page.close()">{{ page.close.title }}</button>
  </div>
</div>
<div class="b-content">
  <form name="form">
    <div class="form-row">
      <div class="col-sm-24">
        <div class="card card-custom gutter-b">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group row">
                  <label class="col-24">
                    <t>quiz set groups</t>
                    <r />
                  </label>
                  <div class="col-24">
                    <b-input  name="table_quiz_set_groups"
                              model="d.name | name"
                              model-key="d.quiz_set_group_id | quiz_set_group_id"
                              search="name"
                              on-select="setQuizSetGroup(row)"
                              column="quiz_set_group_id, name"
                              readonly="!d.is_add"
                              required-key>
                      {{ row.name }}
                    </b-input>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-24"><t>survey date</t><r /></label>
                  <div class="col-24">
                    <input type="text" class="form-control" ng-model="d.survey_date"  b-date-picker required/>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-24"><t>survey number</t></label>
                  <div class="col-24">
                    <input type="text" class="form-control" ng-model="d.survey_number" readonly/>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group row">
                  <label class="col-24"><t>status</t><r /></label>
                  <div class="col-24">
                    <b-input local-data="d.statuses"
                             model="d.status_name | name"
                             model-key="d.status | code"
                             required-key>
                      {{ row.name }}
                    </b-input>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-24"><t>note</t></label>
                  <div class="col-24">
                    <textarea type="text" class="form-control" ng-model="d.note" rows="5" /></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-24">
        <div class="card card-custom card-stretch gutter-b">
          <div class="card-header card-header-tabs-line">
            <div class="card-toolbar align-items-end">
              <ul class="nav nav-tabs nav-bold nav-tabs-line">
                <li class="nav-item" ng-repeat="quiz_set in d.quiz_sets">
                  <a data-target="#quiz_set{{ quiz_set.quiz_set_id }}" class="nav-link py-4" ng-class="{'active' : $first }" data-toggle="tab" role="tab">
                    {{ quiz_set.name }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane" ng-repeat="quiz_set in d.quiz_sets" ng-class="{'active': $first}" id="quiz_set{{ quiz_set.quiz_set_id }}" role="tabpanel">
                <div class="form-group row">
                  <div class="col-sm-12" ng-repeat="(quiz_index, quiz) in quiz_set.quizs">

                    <!-- quiz kind = M -->
                    <div class="form-group row" ng-if="quiz.quiz_kind == 'M'">
                      <div class="col-sm-24">
                        <label>{{ quiz.name }}<r ng-show=" quiz.is_required == 'Y' && d.status == 'C' "/></label>
                        <input type="text" class="form-control" ng-model="quiz.answer" ng-required="quiz.is_required == 'Y' && d.status == 'C'" ng-if="quiz.data_kind == 'N'" b-number>
                        <input type="text" class="form-control" ng-model="quiz.answer" ng-required="quiz.is_required == 'Y' && d.status == 'C'" ng-if="quiz.data_kind == 'D'" b-date-picker>
                        <input type="text" class="form-control" ng-model="quiz.answer" ng-required="quiz.is_required == 'Y' && d.status == 'C'" ng-if="quiz.data_kind == 'S'">
                        <textarea type="text" class="form-control" ng-model="quiz.answer" ng-required="quiz.is_required == 'Y' && d.status == 'C'" ng-if="quiz.data_kind == 'L'" rows="2"></textarea>
                      </div>
                    </div>

                    <!-- quiz kind = S va V -->
                    <div ng-if="quiz.quiz_kind == 'S' || quiz.quiz_kind == 'V'">
                      <label>{{ quiz.name }}<r ng-show=" quiz.is_required == 'Y' && d.status == 'C' "/></label>
                      <div ng-if="quiz.select_multiple == 'Y'">
                        <div ng-if="quiz.select_form == 'C'">
                          <label ng-repeat="option in quiz.options" class="checkbox">
                            <input type="checkbox" ng-true-value="'Y'" ng-required="quiz.is_required == 'Y' && d.status == 'C'" ng-false-value="'N'" ng-change="onCheckBoxChange(quiz_set, quiz, option, quiz_index)" ng-model="option.check_box_answer" />
                            <span>{{ option.name }}</span>
                          </label>
                        </div>
                        <div ng-if="quiz.select_form == 'D'">
                          <b-input local-data="quiz.options"
                                   multiple
                                   model="quiz.answer_options"
                                   model-key="option_id"
                                   on-select="onMultipleDropdownSelect(quiz_set, quiz, row, quiz_index)"
                                   on-delete="onMultipleDropdownDelete(quiz_set, quiz, row)">
                            {{ row.name }}
                          </b-input>
                        </div>
                      </div>
                      <div ng-if="quiz.select_multiple == 'N'">
                        <div class="form-group" ng-if="quiz.select_form == 'D'">
                          <b-input local-data="quiz.options"
                                   model="quiz.answer_option_name"
                                   model-key="quiz.answer_option_id"
                                   on-select="onSingleDropDownSelect(quiz_set, quiz, row, quiz_index)"
                                   on-delete="onSingleDropDownDelete(quiz_set, quiz)"
                                   search="name" required-key=" quiz.is_required == 'Y' && d.status == 'C' ">
                            {{ row.name }}
                          </b-input>
                        </div>
                        <div class="form-group" ng-if="quiz.select_form == 'R'">
                          <label class="radio" ng-repeat="option in quiz.options">
                            <input type="radio" name="option{{ option.option_id }}" value="{{ option.option_id }}" ng-model="quiz.answer_option_id" ng-change="onRadioSelect(quiz_set, quiz, option, quiz_index)"/>
                            <span>{{ option.name }}</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>