<script type="biruni">
page.ctrl(function (scope, model) {
  var d = model || {};

  function showCheckBoxAnswer(options) {
    return !_.some(options, x => x.check_box_answer == 'Y');
  }

  scope.d = d;
});
</script>
<div class="b-toolbar row">
  <div class="col-24">
    <button type="button" class="btn btn-primary" ng-click="save()" ng-if="fi.save" b-hotkey="save">{{ fi.save.title }}</button>
    <button type="button" class="btn btn-default" ng-click="page.close()">{{ page.close.title }}</button>
  </div>
</div>
<div class="b-content">
  <form name="form">
    <div class="form-row">
      <div class="col-sm-24">
        <div class="card card-custom gutter-b">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group row">
                  <label class="col-24"><t>quiz set group name</t></label>
                  <div class="col-24">
                    <div class="card">
                      <div class="card-body" style="padding: 5px;">
                        <div ng-bind-html="d.name"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-24"><t>survey date</t></label>
                  <div class="col-24">
                    <div class="card">
                      <div class="card-body" style="padding: 5px;">
                        <div ng-bind-html="d.survey_date"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-24"><t>survey number</t></label>
                  <div class="col-24">
                    <div class="card">
                      <div class="card-body" style="padding: 5px;">
                        <div ng-bind-html="d.survey_number"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group row">
                  <label class="col-24"><t>status</t></label>
                  <div class="col-24">
                    <div class="card">
                      <div class="card-body" style="padding: 5px;">
                        <div ng-bind-html="d.status_name"> </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-24"><t>note</t></label>
                  <div class="col-24">
                    <div class="card">
                      <div class="card-body" style="padding: 5px;">
                        <div ng-bind-html="d.note"></div>
                        <span ng-if="!d.note"><t>no note</t></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-24">
        <div class="card card-custom card-stretch gutter-b">
          <div class="card-header card-header-tabs-line">
            <div class="card-toolbar align-items-end">
              <ul class="nav nav-tabs nav-bold nav-tabs-line">
                <li class="nav-item" ng-repeat="quiz_set in d.quiz_sets">
                  <a data-target="#quiz_set{{ quiz_set.quiz_set_id }}" class="nav-link py-4" ng-class="{'active' : $first }" data-toggle="tab" role="tab">
                    {{ quiz_set.name }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane" ng-repeat="quiz_set in d.quiz_sets" ng-class="{'active': $first}" id="quiz_set{{ quiz_set.quiz_set_id }}" role="tabpanel">
                <div class="form-group row">
                  <div class="col-sm-12" ng-repeat="(quiz_index, quiz) in quiz_set.quizs">
                    <!-- quiz kind = M -->
                    <div class="form-group row" ng-if="quiz.quiz_kind == 'M'">
                      <div class="col-sm-24">
                        <label>{{ quiz.name }}</label>
                        <div class="card">
                          <div class="card-body" style="padding: 5px;">
                            <div ng-if="quiz.data_kind != 'N'">{{ quiz.answer }}</div>
                            <div ng-if="quiz.data_kind == 'N'">{{ quiz.answer | bNumber }}</div>
                            <span ng-if="!quiz.answer"><t>no answer yet</t></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- quiz kind = S va V -->
                    <div ng-if="quiz.quiz_kind == 'S' || quiz.quiz_kind == 'V'">
                      <label>{{ quiz.name }}</label>
                      <div ng-if="quiz.select_multiple == 'Y'">
                        <div class="card">
                          <div class="card-body" ng-if="quiz.select_form == 'C'" style="padding: 5px;">
                            <div ng-repeat="option in quiz.options">
                              <span ng-if="option.check_box_answer == 'Y'">{{ option.name }}<br/></span>
                            </div>
                            <span ng-if="showCheckBoxAnswer(quiz.options)"><t>no answer yet</t></span>
                          </div>
                          <div class="card-body" ng-if="quiz.select_form == 'D'" style="padding: 5px;">
                            <div ng-repeat="option in quiz.answer_options">
                              <span>{{ option.name }}<br/></span>
                            </div>
                            <span ng-if="!quiz.answer_options"><t>no answer yet</t></span>
                          </div>
                        </div>
                      </div>
                      <div ng-if="quiz.select_multiple == 'N'">
                        <div class="card">
                          <div class="card-body" ng-if="quiz.select_form == 'D'" style="padding: 5px;">
                            <span ng-if="quiz.answer_option_name">{{ quiz.answer_option_name }}</span>
                            <span ng-if="!quiz.answer_option_name"><t>no answer yet</t></span>
                          </div>
                          <div class="card-body" ng-if="quiz.select_form == 'R'" style="padding: 5px;">
                            <span ng-repeat="option in quiz.options" ng-if="option.option_id == quiz.answer_option_id">{{ option.name }}</span>
                            <span ng-if="!quiz.answer_option_id"><t>no answer yet</t></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>