<script type="biruni">
page.init(function(param) {
  var statusClass = { A: 'success', P: 'danger' };
  page.grid('table').asHtml('status_label', 'status', row => {
    return `<div class="alert alert-custom alert-light-${statusClass[row.status]} text-center py-1 px-3 m-0"><div class="alert-text">${ row.status_name }</div></div>`;
  });
});
page.ctrl(function(scope, model, fi, t) {
  var q = model || {};

  function deleteOne(row) {
    page.confirm(t('delete survey $1?')(row.name), function() {
      fi.delete({ survey_id: row.survey_id }).then(page.reload, page.alert)
    });
  }

  function deleteMany() {
    page.confirm(t('delete $1 survey(s)?')(q.checked.size), function() {
      fi.delete({survey_id: _.pluck(q.checked.rows, 'survey_id')}).then(page.reload, page.alert);
    });
  }

  function edit(row) {
    fi.edit({ survey_id: row.survey_id });
  }

  function view(row) {
    fi.view({ survey_id: row.survey_id });
  }

  function onCheck(checked) {
    q.checked = checked;
  }

  function onDblclick(row) {
    page.isDialog() ? page.close(row) : fi.edit ? edit(row) : null;
  }

  scope.q = q;
});
</script>
<div class="b-toolbar row">
  <div class="col-sm-14 d-flex">
    <button type="button" class="btn btn-success" ng-click="fi.add()" ng-if="fi.add" b-hotkey="add">{{ fi.add.title }}</button>
    <button type="button" class="btn btn-danger" ng-click="deleteMany()" ng-if="fi.delete" ng-show="q.checked.has">
      <t p1="q.checked.size">delete $1</t>
    </button>
    <button type="button" class="btn btn-default" ng-click="page.close()" ng-hide="page.isFirst()">{{ page.close.title }}</button>
  </div>
  <div class="col-sm-10 b-right">
    <b-grid-controller name="table"/>
  </div>
</div>
<div class="b-content">
  <form name="form">
    <b-grid name="table" required="survey_id, survey_number" on-check="onCheck(checked)" on-dblclick="onDblclick(row)" sort="-created_on" search="name" searchable="survey_id" extra-columns="survey_id, created_by_name, created_on, modified_by_name, modified_on">
      <b-row>
        <b-col name="survey_number" size=7/>
        <b-col name="quiz_set_group_name" size=4/>
        <b-col name="created_by_name" size=4/>
        <b-col name="survey_date" size=4/>
        <b-col name="status_name" as-html="status_label" size=4/>
      </b-row>
      <b-action>
        <button type="button" class="btn btn-default" ng-click="edit(row)" ng-if="fi.edit">{{ fi.edit.title }}</button>
        <button type="button" class="btn btn-default" ng-click="view(row)" ng-if="fi.view">{{ fi.view.title }}</button>
        <button type="button" class="btn btn-default" ng-click="deleteOne(row)" ng-if="fi.delete && row.is_survey_head == 'N'">{{ fi.delete.title }}</button>
      </b-action>
      <b-filter name="survey_id" directive="equal" extra/>
      <b-filter name="survey_number"/>
      <b-filter name="status" decorate-with="status_name"/>
      <b-filter name="created_on" extra/>
      <b-filter name="created_by" decorate-with="created_by_name" extra/>
    </b-grid>
  </form>
</div>