<script type="biruni">
page.init(function() {
  page.isInit() && page.query('table').filter('state', '=', 'A');
  var stateClass = { A: 'success', P: 'danger' };
  page.grid('table').asHtml('state_label', 'state', row => {
    return `<div class="alert alert-custom alert-light-${stateClass[row.state]} text-center py-1 px-3 m-0"><div class="alert-text">${ row.state_name }</div></div>`;
  });
});
page.ctrl(function(scope, fi, t) {
  var q = {};

  function closeIfDialog(result) {
    if (page.isDialog()) {
      page.close(result);
    }
  }

  function edit(row) {
    fi.edit({ quiz_set_group_id: row.quiz_set_group_id });
  }

  function deleteMany() {
    page.confirm(t('delete $1 quiz_set_group(s)?')(q.checked.size), function() {
      fi.delete({ quiz_set_group_id: _.pluck(q.checked.rows(), 'quiz_set_group_id') }).then(page.reload, page.alert);
    });
  }

  function deleteOne(row) {
   page.confirm(t('delete quiz_set_group $1?')(row.name), function() {
      fi.delete({ quiz_set_group_id: row.quiz_set_group_id }).then(page.reload, page.alert);
    });
  }

  function onCheck(checked) {
    q.checked = checked;
  }

  function onDblClick(row) {
    page.isDialog() ? page.close(row) : fi.edit ? edit(row) : null;
  }

  function bindQuizSet(row) {
    fi.bind_quiz_sets({ quiz_set_group_id: row.quiz_set_group_id });
  }

  function editOrder(row) {
    fi.set_order_no({ quiz_set_group_id: row.quiz_set_group_id });
  }

  scope.q = q;
});
</script>
<div class="b-toolbar row">
  <div class="col-sm-14">
    <button type="button" class="btn btn-success" ng-click="fi.add()" ng-if="fi.add" b-hotkey="add">{{ fi.add.title }}</button>
    <button type="button" class="btn btn-danger" ng-click="deleteMany()" ng-if="fi.delete" ng-show="q.checked.has">
      <t p1="q.checked.size">delete $1</t>
    </button>
    <button type="button" class="btn btn-default" ng-click="page.close()" ng-hide="page.isFirst()">{{ page.close.title }}</button>
  </div>
  <div class="col-sm-10 b-right">
    <b-grid-controller name="table" />
  </div>
</div>
<div class="b-content">
  <form name="form">
    <b-grid name="table" required="quiz_set_group_id, name, child_quiz_set_count" sort="name" search="name" on-dblclick="onDblClick(row)" on-check="onCheck(checked)" searchable="quiz_set_group_id, state">
      <b-row>
        <b-col name="name" size="15" />
        <b-col name="child_quiz_set_count" size="4" />
        <b-col name="state_name" as-html="state_label" size="4" />
      </b-row>
      <b-action>
        <button type="button" class="btn btn-default" ng-if="fi.edit" ng-click="edit(row)">{{ fi.edit.title }}</button>
        <button type="button" class="btn btn-default" ng-if="fi.delete" ng-click="deleteOne(row)">{{ fi.delete.title }}</button>
        <button class="btn btn-default btn-sm" ng-click="bindQuizSet(row)" ng-if="fi.bind_quiz_sets">{{ fi.bind_quiz_sets.title }}</button>
        <button class="btn btn-default btn-sm" ng-click="editOrder(row)" ng-if="fi.set_order_no && row.child_quiz_set_count > 0">{{ fi.set_order_no.title }}</button>
      </b-action>
      <b-filter name="quiz_set_group_id" extra />
      <b-filter name="name" />
      <b-filter name="state" decorate-with="state_name" />
    </b-grid>
  </form>
</div>